<md-dialog aria-label="Vote" ng-cloak>
    <md-toolbar style="background-color: #0a9bcb;">
        <div class="md-toolbar-tools">
            <h2 style="color:white;">กติกาการเข้าร่วมกิจกรรม</h2>
            <span flex></span>
            <!--<md-button class="md-icon-button" ng-click="cancel()">-->
            <!--<md-icon md-font-library="material-icons" aria-label="Close dialog">close</md-icon>-->
            <!--</md-button>-->
        </div>
    </md-toolbar>
    <md-dialog-content style="background-color: white; color:#464646; font-size:18px;">
        <section layout="column" layout-align="center stretch" class="md-dialog-content" style="padding: 20px; max-width:600px">
            <div style="text-align: center;font-size: 1.2em;">
                ผลิตภัณฑ์เด็ก น่ารัก ขอเชิญส่งภาพถ่ายลูกหลาน<br/>
                เข้าร่วมประกวดในโครงการ narakjung 2
            </div>
            <br/>
            <div>
                <h3 class="underline less-margin-bottom">กติกา</h3>
                <ul>
                    <li>
                        ให้บิดา มารดา หรือผู้ปกครอง ส่งภาพถ่ายปัจจุบันของหนูน้อยอายุตั้งแต่แรกเกิด ไม่เกิน 7
                        ขวบในวันที่ส่ง จำนวน 1 ภาพ
                    </li>
                    <li>
                        เป็นภาพของหนูน้อยที่ถ่ายคู่กับผลิตภัณฑ์เด็ก น่ารัก ชนิดใดก็ได้
                        แสดงให้เห็นถึงความน่ารักอย่างเป็นธรรมชาติ ไม่ใส่เอฟเฟกต์ไม่ใส่กรอบ ไม่ใส่ลวดลาย ฯลฯ
                        จนดูไม่สมจริง
                    </li>
                    <li>
                        ระบุชื่อ – นามสกุล ชื่อเล่น เพศ อายุ และสำเนาสูติบัตรของหนูน้อยในภาพ พร้อมชื่อ – นามสกุล
                        ที่อยู่ เบอร์โทรศัพท์ อีเมล์ ของผู้ส่งที่ติดต่อได้สะดวก
                    </li>
                    <li>
                        ผู้ส่งและผู้ที่อยู่ในภาพที่ส่งเข้าประกวดทุกภาพ ยินยอมให้บริษัท น่ารัก-เทียร่า จำกัด
                        ใช้ในการประชาสัมพันธ์กิจกรรมสินค้าของบริษัทฯ
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="underline less-margin-bottom">วิธีส่งประกวด</h3>
                <ul>
                    <li>
                        เข้า www.narakclub.com ไปที่ narakjung 2
                    </li>
                    <li>
                        กดคลิก “เข้าร่วมกิจกรรม”
                    </li>
                    <li>
                        …อัพโหลดภาพตามกติกา…………………….
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="underline less-margin-bottom">การตัดสิน</h3>
                <ul>
                    <li>
                        ภาพถ่ายทั้งหมดที่โพสต์ลง จะได้รวบรวมให้คณะกรรมการพิจารณาตัดสินหาผู้ชนะ
                        และให้ผู้อ่านโหวตโดยการกดโหวตหาผู้ที่ได้คะแนนยอดนิยม
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="underline less-margin-bottom">การโหวต</h3>
                <ul>
                    <li>
                        โหวตภาพได้เพียงครั้งเดียวต่อหนึ่ง facebook account โดยกดปุ่ม Vote
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="underline less-margin-bottom">รางวัล</h3>
                แบ่งเป็น 2 ประเภท คือ
                <ol>
                    <li>
                        รางวัลหนูน้อย “น่ารักจัง 2” โดยการตัดสินของคณะกรรมการ
                        <ul>
                            <li>
                                รางวัลชนะเลิศ ทุนการศึกษา 25,000 บาท 1 รางวัล พร้อมชุดผลิตภัณฑ์เด็ก น่ารัก
                            </li>
                            <li>
                                รางวัลรองชนะเลิศ ทุนการศึกษา 15,000 บาท 1 รางวัล พร้อมชุดผลิตภัณฑ์เด็ก น่ารัก
                            </li>
                            <li>
                                รางวัลอันดับ 3 ทุนการศึกษา 5,000 บาท 1 รางวัล พร้อมชุดผลิตภัณฑ์เด็ก น่ารัก
                            </li>
                            <li>
                                รางวัลชมเชย ชุดผลิตภัณฑ์เด็ก น่ารัก 50 รางวัล
                            </li>
                        </ul>
                    </li>
                    <li>
                        รางวัลหนูน้อยป็อปปูลาร์โหวต นับจากยอดโหวต
                        <ul>
                            <li>
                                รางวัลชนะเลิศ สำหรับคะแนนโหวตสูงสุด ทุนการศึกษา 10,000 บาท พร้อมชุดผลิตภัณฑ์เด็ก น่ารัก
                            </li>
                            <li>
                                รางวัลผู้ได้คะแนนรองลงมา ชุดผลิตภัณฑ์เด็ก น่ารัก 50 รางวัล
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
            <div class="highlight-color">
                <h3 class="underline less-margin-bottom">กำหนดส่งภาพ ประกาศผล และรับรางวัล</h3>
                <ul>
                    <li>
                        ส่งภาพเข้าประกวดได้ตั้งแต่วันที่ 1 มิถุนายน 2559 ถึงวันที่ 31 กรกฎาคม 2559
                    </li>
                    <li>
                        หลังจากหมดเขตส่งภาพ ให้เวลาโหวตต่อจนถึง 24.00 น. ของวันที่ 5 สิงหาคม 2559
                    </li>
                    <li>
                        ประกาศผลวันที่ 10 สิงหาคม 2559 ทาง www.narakclub.com
                    </li>
                    <li>
                        บริษัทฯ จะรีบติดต่อผู้ที่ได้รับรางวัล เพื่อนัดหมายส่งมอบรางวัล ภายในระยะเวลาประมาณ 1 สัปดาห์
                    </li>
                </ul>
            </div>
            <div>
                <h3 class="underline less-margin-bottom">หมายเหตุ</h3>
                <ul>
                    <li>
                        การตัดสินของคณะกรรมการถือเป็นสิ้นสุด
                    </li>
                    <li>
                        หนูน้อยในภาพที่ส่งเข้าประกวด ต้องไม่ติดสัญญากับสินค้าอื่น ๆ ที่เป็นผลิตภัณฑ์เด็ก
                    </li>
                    <li>
                        ผู้ส่งเข้าประกวดต้องมีบัญชีเฟซบุ๊คเป็นของตนเอง และหากตรวจสอบพบว่าได้สร้างบัญชีเฟซบุ๊คปลอมเพิ่มเติม
                        เพื่อหวังผลในความได้เปรียบ จะถูกตัดสิทธิ์ทันที
                    </li>
                    <li>
                        กรณีตรวจพบว่าเป็นการกระทำที่ผิดกติกา หรือไม่เหมาะสมต่อสังคม หรือเจตนาไปในทางไม่ถูกต้อง
                        ผู้จัดจะขอตัดสิทธิ์นำภาพออกจากระบบและให้ออกจากกิจกรรมได้ทันที
                    </li>
                    <li>
                        ผู้เข้าประกวดมีสิทธิ์ได้รับรางวัลสูงสุดเพียงรางวัลเดียวเท่านั้น
                    </li>
                    <li>
                        ของรางวัลไม่สามารถเปลี่ยนเป็นเงินสดได้
                    </li>
                    <li>
                        ผู้ได้รับรางวัลมูลค่าเกิน 1,000 บาท ต้องชำระภาษี 5% ตามกฎหมาย
                    </li>
                    <li>
                        ชุดผลิตภัณฑ์เด็ก น่ารัก มูลค่าชุดละ 999 บาท
                    </li>
                </ul>
            </div>
            <div layout="row" layout-align="end end">
                <md-button ng-click="answer(false)" style="color:#E91E63;">
                    ปิด
                </md-button>
                <md-button ng-click="answer(true)" style="color:white; background-color: #E91E63">
                    เข้าร่วมกิจกรรม
                </md-button>
            </div>
        </section>
    </md-dialog-content>
</md-dialog>