<md-dialog aria-label="Vote" ng-cloak>
    <md-toolbar style="background-color: #0a9bcb;">
        <div class="md-toolbar-tools">
            <h2 style="color:white;">กติกาการเข้าร่วมกิจกรรม</h2>
            <span flex></span>
            <!--<md-button class="md-icon-button" ng-click="cancel()">-->
            <!--<md-icon md-font-library="material-icons" aria-label="Close dialog">close</md-icon>-->
            <!--</md-button>-->
        </div>
    </md-toolbar>
    <md-dialog-content style="background-color: white; color:#464646; font-size:18px;">
        <section layout="column" layout-align="center stretch" class="md-dialog-content" style="padding: 0; max-width:600px; background-color: #FFFBE9;">
            <div>
                <img src="/assets/images/rules/rules_full.png" hide-xs hide-sm>

                <img src="/assets/images/rules/rules_m.png" hide-gt-md hide-md>
            </div>
            <div layout="row" layout-align="end end">
                <md-button ng-click="answer(false)" style="color:#EC5D7E;">
                    ปิด
                </md-button>
                <md-button ng-click="answer(true)" class="round-button">
                    เข้าร่วมกิจกรรม
                </md-button>
            </div>
        </section>
    </md-dialog-content>
</md-dialog>