
<div layout="vertical" layout-fill>
    <md-content flex>
        <div ng-cloak layout="row" layout-align="center"><a class="main-logo"><img src="assets/images/narakjung.png"></a></div>

        <header>
            <!--where navbar placed-->
        </header>
        <section flex layout="column" flex layout-align="center">
            <div layout="row" flex="100" layout-align="center">
                <div layout="row" flex="100">
                    <form name="selectForm" novalidate flex>
                        <h2>
                            เลือกกรอบรูป
                        </h2>
                        <div ng-messages="selectForm.selectedTemplate.$error" role="alert">
                            <div ng-message="required" style="color: rgb(244,67,54)">กรุณาเลือกกรอบรูป</div>
                        </div>
                        <div layout="row" layout-align="center">
                            <md-radio-group name="selectedTemplate" ng-model="vm.selectedTemplate"
                                            layout-wrap
                                            layout-sm="column" layout-xs="column" layout="row" required>
                                <md-radio-button ng-repeat="(key, value) in vm.categories" ng-value="value" style="margin-right:20px;" flex flex-xs="80">
                                    <div flex>{{value.name}}</div>
                                    <div flex>
                                        <img style="background-color: #FFF;width:200px;height:200px;" src="{{vm.templatePath + value.path}}">
                                    </div>
                                </md-radio-button>
                            </md-radio-group>
                        </div>

                        <div layout="row" layout-align="center">
                            <md-button class="md-raised animated infinite" ng-class="vm.classAnimation"
                                       ng-click="vm.next()" flex="20" flex-xs="80">
                                Next
                            </md-button>
                        </div>
                    </form>
                </div>
        </section>
    </md-content>
</div>
