<configuration>
    <system.web>
        <customErrors mode="On">
            <error statusCode="404" redirect="/" responseMode="ExecuteURL"/>
        </customErrors>
    </system.web>
    <system.webServer>
      <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL">
         <remove statusCode="404"/>
         <error statusCode="404" path="/" responseMode="ExecuteURL"/>
       </httpErrors>
   </system.webServer>
</configuration>