<!--<div layout="vertical" layout-fill>-->
    <!--<md-content class="vote blue-white" flex>-->
        <!--<div class="bg"></div>-->
        <!--<div class="girl" hide-xs>-->
            <!--<img src="/assets/images/intro/intro-girl.png">-->
        <!--</div>-->
        <!--<div layout="row" layout-align="center">-->
            <!--<a class="main-logo z-index-100">-->
                <!--<img src="assets/images/narakjung.png">-->
            <!--</a>-->
        <!--</div>-->
        <!--<div layout="row" layout-align="center">-->
            <!--<div style="position: relative">-->
                <!--<div class="rope left-rope z-index-80"></div>-->
                <!--<img class="z-index-100" src="/assets/images/vote/banner.png">-->
                <!--<div class="rope right-rope z-index-80"></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="content-wrapper" layout="row" flex="90" flex-xs="95">-->
            <!--<div layout="row" flex layout-wrap class="post-wrapper main-content">-->
                <!--<div flex="100" layout="row" layout-align="end" layout-wrap style="margin-bottom: 20px;">-->
                    <!--<md-radio-group name="category" class="category-selector"-->
                                    <!--ng-model="vm.selectedCategory"-->
                                    <!--layout="row" layout-align="center"-->
                                    <!--flex="90" flex-xs="100" layout-wrap-->
                                    <!--ng-change="vm.changeCategory()">-->
                        <!--<md-radio-button value="popular" class="category-item"-->
                                         <!--flex flex-sm="30" flex-md="15" flex-xs="90" ng-hide="vm.showSearch">-->
                            <!--<div flex>Popular Vote</div>-->
                        <!--</md-radio-button>-->
                        <!--<md-radio-button value="all" class="category-item"-->
                                         <!--flex flex-sm="30" flex-md="10" flex-xs="90" ng-hide="vm.showSearch">-->
                            <!--<div flex>ทั้งหมด</div>-->
                        <!--</md-radio-button>-->
                        <!--<md-radio-button value="1" class="category-item"-->
                                         <!--flex flex-sm="30" flex-md="15" flex-xs="90" ng-hide="vm.showSearch">-->
                            <!--<div flex>น่ารักฉลาดเรียนรู้</div>-->
                        <!--</md-radio-button>-->
                        <!--<md-radio-button value="2" class="category-item"-->
                                         <!--flex flex-sm="30" flex-md="15" flex-xs="90" ng-hide="vm.showSearch">-->
                            <!--<div flex>น่ารักอารมณ์ดี</div>-->
                        <!--</md-radio-button>-->
                        <!--<md-radio-button value="3" class="category-item"-->
                                         <!--flex flex-sm="30" flex-md="15" flex-xs="90" ng-hide="vm.showSearch">-->
                            <!--<div flex>น่ารักนักสร้างสรรค์</div>-->
                        <!--</md-radio-button>-->
                        <!--<md-radio-button value="4" class="category-item"-->
                                         <!--flex flex-sm="30" flex-md="15" flex-xs="90" ng-hide="vm.showSearch">-->
                            <!--<div flex>น่ารักนักยิ้ม</div>-->
                        <!--</md-radio-button>-->
                        <!--<md-radio-button value="search" flex flex-sm="30" flex-md="15" flex-xs="100" class="category-item">-->
                            <!--<div flex><md-icon md-font-library="material-icons">-->
                                <!--search-->
                            <!--</md-icon>Search</div>-->
                        <!--</md-radio-button>-->
                    <!--</md-radio-group>-->
                    <!--<div flex="90" layout="row" layout-align="center" ng-show="vm.showSearch">-->
                        <!--<input type="text" name="keyword" id="keyword" ng-model="vm.keyword" ng-change="vm.keywordChange()" ng-disabled="vm.busy"-->
                                  <!--flex="60" flex-xs="60"  style="font-size: 20px; border: solid 1px rgba(158,158,158,0.2)" />-->
                        <!--<md-button ng-click="vm.cancelSearch();" ng-disabled="vm.busy" flex="10" flex-xs="40" style="font-size: 25px;">-->
                            <!--Cancel-->
                        <!--</md-button>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div layout="row" layout-align="center" class="body" flex="100" layout-wrap-->
                         <!--infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.busy'>-->
                    <!--<md-card ng-repeat="item in vm.posts" flex="30" flex-sm="45" flex-xs="100">-->
                        <!--<md-card-content layout="columns" layout-wrap>-->
                            <!--<div class="md-media-l card-media vote-media" ng-click="vm.showImageDialog(item)">-->
                                <!--<img ng-src="{{ vm.constant.uploadedPath + item.image_path}}">-->
                            <!--</div>-->
                            <!--<md-card-actions class="vote-action" layout="row" layout-align="center center" flex="100">-->
                                <!--<md-button class="md-icon-button vote-btn" aria-label="Vote" ng-click="vm.vote(item);">-->
                                    <!--<md-icon md-font-library="material-icons">-->
                                        <!--star-->
                                    <!--</md-icon>-->
                                    <!--<span class="vote-count-label font-size-80">-->
                                        <!--{{item.vote_count}}-->
                                    <!--</span>-->
                                <!--</md-button>-->
                                <!--<span class="font-size-60" ng-click="vm.vote(item);">VOTE</span>-->
                                <!--<md-button class="md-icon-button" aria-label="Share">-->
                                    <!--<md-icon md-font-library="material-icons" ng-click="vm.share(item);">share</md-icon>-->
                                <!--</md-button>-->
                                <!--<span class="font-size-60" ng-click="vm.share(item);">SHARE</span>-->
                                <!--<md-button class="md-icon-button" aria-label="Link">-->
                                    <!--<md-icon md-font-library="material-icons" ng-click="vm.copyLink(item);">link-->
                                    <!--</md-icon>-->
                                <!--</md-button>-->
                                <!--<span class="font-size-60" ng-click="vm.copyLink(item);">COPY LINK</span>-->
                            <!--</md-card-actions>-->
                        <!--</md-card-content>-->
                    <!--</md-card>-->
                <!--</div>-->
                <!--<div flex="100" layout-align="center" ng-show='vm.busy'>Loading data...</div>-->
                <!--<div flex="100" layout-align="center" ng-show="vm.posts.length <= 0 && !vm.busy && !vm.showSearch">ยังไม่มีภาพของหนูน้อยในหมวดนี้</div>-->
                <!--<div flex="100" layout-align="center" ng-show="vm.posts.length <= 0 && !vm.busy && vm.showSearch">ไม่มีข้อมูลที่ท่านค้นหา</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="boy" hide-xs>-->
            <!--<img src="/assets/images/intro/intro-boy.png">-->
        <!--</div>-->
    <!--</md-content>-->
<!--</div>-->


<!--<footer class="footer-bar z-index-110" flex="100" layout="row">-->
    <!--<div class="footer-content" flex="90" flex-xs="95" layout="row" layout-align="space-between center">-->
        <!--<div flex="40" flex-xs="60" layout-align="start start" style="text-align: left;margin-left: 5px;">-->
            <!--COPYRIGHT © 2016 Narak Tiara-->
        <!--</div>-->
        <!--<md-button flex="15" ng-click="vm.go('how-to-play')" class="round-button">-->
            <!--ร่วมสนุก-->
        <!--</md-button>-->
    <!--</div>-->
<!--</footer>-->
