<div layout="vertical" layout-fill>
    <md-content flex>
        <div ng-cloak layout="row" layout-align="center">
            <a class="main-logo">
                <img src="assets/images/narakjung.png"></a></div>
        <section layout="column" class="popular-vote">
            <header>
                POPULAR VOTE
            </header>
            <section layout="row" layout-align="center" layout-wrap class="body" style="background-color: pink;">
                <md-card ng-repeat="item in vm.popularVotes"
                         ng-class="{ 'flex-30': vm.popularVotes.length<=2, 'flex': vm.popularVotes.length>2}"
                         flex-sm="45" flex-xs="100">
                    <md-card-content layout="row" layout-align="space-around">
                        <div class="md-media-l card-media vote-media"
                             ng-click="vm.showImageDialog(item)">
                            <img ng-src="{{ vm.constant.uploadedPath + item.image_path}}">
                        </div>
                        <md-card-actions layout="column">
                            <md-button class="md-icon-button vote-count" ng-click="vm.vote(item);">{{item.vote_count}}</md-button>
                            <md-button class="md-icon-button vote-btn" aria-label="Vote">
                                <md-icon md-font-library="material-icons" ng-click="vm.vote(item);" class="gold">star
                                </md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Share">
                                <md-icon md-font-library="material-icons" ng-click="vm.share(item);">share</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Link">
                                <md-icon md-font-library="material-icons" ng-click="vm.copyLink(item);">link</md-icon>
                                <md-tooltip md-direction="top" md-visible="item.showCopyTooltip">
                                    Copied Link!
                                </md-tooltip>
                            </md-button>
                        </md-card-actions>
                    </md-card-content>
                </md-card>
            </section>
        </section>
        <section layout="column" flex class="post-wrapper main-content">
            <header flex layout="row" layout-align="center" style="margin-bottom: 20px;">
                <md-radio-group name="category" class="category-selector"
                                ng-model="vm.selectedCategory"
                                layout="row" layout-xs="column" layout-sm="column"
                                flex="80"
                                ng-change="vm.changeCategory()">
                    <md-radio-button value="all" flex flex-sm="40" flex-xs="100" class="category-item">
                        <div flex>น่ารักจังทั้งหมด</div>
                    </md-radio-button>
                    <md-radio-button value="1" flex flex-sm="40" flex-xs="100" class="category-item">
                        <div flex>น่ารักฉลาดเรียนรู้</div>
                    </md-radio-button>
                    <md-radio-button value="2" flex flex-sm="40" flex-xs="100" class="category-item">
                        <div flex>น่ารักอารมณ์ดี</div>
                    </md-radio-button>
                    <md-radio-button value="3" flex flex-sm="40" flex-xs="100" class="category-item">
                        <div flex>น่ารักนักสร้างสรรค์</div>
                    </md-radio-button>
                    <md-radio-button value="4" flex flex-sm="40" flex-xs="100" class="category-item">
                        <div flex>น่ารักนักยิ้ม</div>
                    </md-radio-button>
                </md-radio-group>
            </header>
            <section layout="row" layout-align="center" class="body" layout-wrap
                     infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.busy'>
                <md-card ng-repeat="item in vm.posts" flex="30" flex-sm="45" flex-xs="100">
                    <md-card-content layout="row" layout-align="space-between">
                        <div class="md-media-l card-media vote-media"
                             ng-click="vm.showImageDialog(item)">
                            <img ng-src="{{ vm.constant.uploadedPath + item.image_path}}">
                        </div>
                        <md-card-actions layout="column">
                            <md-button class="md-icon-button vote-count" ng-click="vm.vote(item);">{{item.vote_count}}</md-button>
                            <md-button class="md-icon-button vote-btn" aria-label="Vote">
                                <md-icon md-font-library="material-icons" ng-click="vm.vote(item);" class="gold">
                                    star
                                </md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Share">
                                <md-icon md-font-library="material-icons" ng-click="vm.share(item);">share</md-icon>
                            </md-button>
                            <md-button class="md-icon-button" aria-label="Link">
                                <md-icon md-font-library="material-icons" ng-click="vm.copyLink(item);">link</md-icon>
                                <md-tooltip md-direction="top" md-visible="item.showCopyTooltip">
                                    Copied Link!
                                </md-tooltip>
                            </md-button>
                        </md-card-actions>
                    </md-card-content>
                </md-card>
            </section>
            <div ng-show='vm.busy'>Loading data...</div>
        </section>
    </md-content>
</div>


<footer class="footer-bar" layout="row" layout-xs="column" layout-align="space-between center">
    <md-button ng-click="vm.termClick()" class="highlight-color" hide show-xs>
        เข้าร่วมกิจกรรมส่งภาพ
    </md-button>
    <div layout="column" layout-align="start start">
        <div layout="row">
            COPYRIGHT © 2016 Narak Tiara
        </div>
    </div>
    <md-button ng-click="vm.termClick()" class="highlight-color" hide-xs>
        เข้าร่วมกิจกรรมส่งภาพ
    </md-button>
</footer>