<md-dialog flex="90">
  <md-dialog-content flex layout-align="start" ng-click="close();" style="overflow: hidden;">
    <img class="end-bg end-bg-web" src="assets/images/end/result_web.png" flex hide-xs hide-sm />
    <img class="end-bg end-bg-mobile" src="assets/images/end/result_mobile.png" flex hide-gt-md hide-md />
  </md-dialog-content>
  <md-dialog-actions layout-align="center">
    <md-button ng-click="close();" class="md-primary">
      ปิด
    </md-button>
  </md-dialog-actions>
</md-dialog>
