<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <!--where navbar placed-->
    </header>

    <section class="jumbotron">
      <md-input-container>
        <input type="text" ng-model="vm.babyName" aria-label="Baby Name" required>
      </md-input-container>
      <narak-file-upload model="vm.croppedImage"></narak-file-upload>
      <md-button class="md-raised animated infinite" ng-class="vm.classAnimation" ng-click="vm.showToastr()">Submit</md-button>

    </section>

  </md-content>
</div>
