.cropArea {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  overflow: hidden;
  width:400px;
  height:300px;
}
form .progress {
  line-height: 15px;
}
.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}
.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}
