<div class="upload-img-wrapper">
    <image-cropper ng-if="picFile | ngfDataUrl" class="image-cropper"
                   image-url="{{picFile | ngfDataUrl}}"
                   width="250"
                   height="250"
                   show-controls="true"
                   fit-on-init="true"
                   center-on-init="true"
                   api="cropperReady"
                   crop-callback="updateResultImage"
                   zoom-step="0.2"
                   action-labels="buttonLabels">
        <button class="delete-button" ng-click="deleteImage();"><i class="material-icons">close</i></button>
    </image-cropper>
    <div class="placeholder" ng-if="!picFile" ng-click="openBrowseFile();">
        <img src="assets/images/main/placeholder.png">
    </div>
    <input type="file" class="ng-hide" id="picFile" name="picFile" ngf-select ng-model="picFile" ngf-accept="'image/*'" required>

    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
</div>
