<div class="upload-img-wrapper">
    <md-button class="md-raised animated infinite" ngf-select ng-model="picFile" accept="image/*">
        Select Picture
    </md-button>
    <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
        <span style="margin: 0 auto;">Drop Image here</span>
        <img-crop image="picFile | ngfDataUrl"
                  result-image="image"
                  area-type="square" ng-show="!!picFile">
        </img-crop>
    </div>
    <span ng-show="result">Upload Successful</span>
    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
</div>
