<div class="upload-img-wrapper">
    <button ngf-select ng-model="picFile" accept="image/*">
        Select Picture
    </button>
    <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
        <img-crop image="picFile | ngfDataUrl"
                  result-image="image"
                  area-type="square">
        </img-crop>
    </div>
    <button ng-click="upload(image)">Submit</button>
    <span ng-show="result">Upload Successful</span>
    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
</div>
