/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'db_helvethaicamon_x75_bd';
  src: url('../assets/fonts/db_helvethaicamon_x_bd_v3.2-webfont.eot');
  src: url('../assets/fonts/db_helvethaicamon_x_bd_v3.2-webfont.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/db_helvethaicamon_x_bd_v3.2-webfont.woff2') format('woff2'),
  url('../assets/fonts/db_helvethaicamon_x_bd_v3.2-webfont.woff') format('woff'),
  url('../assets/fonts/db_helvethaicamon_x_bd_v3.2-webfont.ttf') format('truetype'),
  url('../assets/fonts/db_helvethaicamon_x_bd_v3.2-webfont.svg#db_helvethaicamon_x75_bd') format('svg');
  font-weight: normal;
  font-style: normal;
}

// font
.font-size-140{
  font-size: 140%;
}
.font-size-130{
  font-size: 130%;
}
.font-size-120{
  font-size: 120%;
}
.font-size-110{
  font-size: 110%;
}
.font-size-100{
  font-size: 100%;
}

.font-size-90{
  font-size: 90%;
}

.font-size-80{
  font-size: 80%;
}

.font-size-70{
  font-size: 70%;
}

.font-size-60{
  font-size: 60%;
}

.font-size-50{
  font-size: 50%;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.md-dialog-container{
  z-index: 1000;
}

$main-font-size: 30px;
$main-font-size-sm: 25px;
$main-font-size-xs: 20px;

html {
  font-family: 'db_helvethaicamon_x75_bd', 'Roboto Slab', serif;
  overflow-y: hidden;
  background-color: #E9EAED;
  font-size: $main-font-size;
}

ul,ol{
  margin-top: 5px;
  padding-left: 30px;
}

md-content{
  overflow: auto !important;
}

.main-content{
}

.page {
  bottom: 0;
  //padding-top: 120px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

body{
  background-color: #9CDCF9;
  color: #464646;
}

.md-button{
  font-size: $main-font-size;
}

img{
  width: 100%;
  height: auto;
}

.main-logo{
  position: relative;
  padding-top: 15px;
  width: 320px;
  z-index: 100;
}

.highlight-color{
  color: #E91E63;
}

.highlight-color.hover:hover{
  color: #E91E63;
}

.highlight-color.focus:focus .md-select-value{
  color: #E91E63;
}

$primary-color: #11A6D4;
$primary-bg-color: #9CDCF9;
$secondary-color: #EC5D7E;
$highlight-color: #FCDD39;

.primary{
  color: $primary-color;
}

.primary-bg{
  background-color: $primary-bg-color;
}

.secondary{
  color: $secondary-color;
}

.highlight{
  color: $highlight-color;
}

// z-index

.z-index-110{
  z-index: 110;
}

.z-index-100{
  z-index: 100;
}

.z-index-90{
  z-index: 90;
}

.z-index-80{
  z-index: 80;
}

.z-index-70{
  z-index: 70;
}

// utility
.no-margin{
  margin: 0 !important;
}
.no-padding{
  padding: 0 !important;
}
.no-border{
  border: none !important;
}

$btn-width: 169px;
$btn-height: 115px;

.narak-btn{
  width: $btn-width;
  height: $btn-height;
  background-image: url(/assets/images/common/cloud-btn.png);
  background-size: 100% 100%;
  background-color: transparent;
  border: none;
  font-family: 'db_helvethaicamon_x75_bd';
  font-size: 35px;
  color: $primary-color;
  margin-right: 15px;
}

md-input-container{
  margin: 0;

  .md-input{
    border-color: rgba(0,0,0,0.12);
  }

}

.md-button{
  text-transform: none;
}

md-radio-button{
  display: inline-block;
  margin-right: 20px;
}

md-input-container{
  &.md-input-focused label:not(.md-no-float),
  &.md-input-has-placeholder label:not(.md-no-float),
  &.md-input-has-value label:not(.md-no-float){
    -webkit-transform: translate3d(0, 22px, 0) scale(0.75);
    transform: translate3d(0, 22px, 0) scale(0.75);
  }
}

$boy-width: 270px;
$boy-height: 300px;
$boy-lg-width: 380px;
$boy-ex-lg-width: 400px;
$girl-width: 270px;
$girl-height: 300px;
$girl-lg-width: 380px;
$girl-ex-lg-width: 400px;
$rope-left-img: url(/assets/images/common/rope-left.png);
$rope-right-img: url(/assets/images/common/rope-right.png);

md-content {
  background-color: #9CDCF9;
  color: #464646;

  .rope {
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &.left-rope{
      background-image: $rope-left-img;
    }
    &.right-rope{
      background-image: $rope-right-img;
    }
  }

  .banner{
    width: 260px;
    z-index: 100;
  }

  &.blue-white{
    background: -webkit-linear-gradient(top, rgb(158, 221, 249) 0%, rgb(209, 239, 252) 60%, rgb(252, 254, 255) 100%);
    background: -o-linear-gradient(top, rgb(158, 221, 249) 0%, rgb(209, 239, 252) 60%, rgb(252, 254, 255) 100%);
    background: -ms-linear-gradient(top, rgb(158, 221, 249) 0%, rgb(209, 239, 252) 60%, rgb(252, 254, 255) 100%);
    background: -moz-linear-gradient(top, rgb(158, 221, 249) 0%, rgb(209, 239, 252) 60%, rgb(252, 254, 255) 100%);
    background: linear-gradient(to bottom, rgb(158, 221, 249) 0%, rgb(209, 239, 252) 60%, rgb(252, 254, 255) 100%);
  }

  &.blue-yellow {
    background: -webkit-linear-gradient(top, rgb(163, 221, 244) 0%, rgb(216, 231, 204) 40%, rgb(255, 239, 174) 100%);
    background: -o-linear-gradient(top, rgb(163, 221, 244) 0%, rgb(216, 231, 204) 40%, rgb(255, 239, 174) 100%);
    background: -ms-linear-gradient(top, rgb(163, 221, 244) 0%, rgb(216, 231, 204) 40%, rgb(255, 239, 174) 100%);
    background: -moz-linear-gradient(top, rgb(163, 221, 244) 0%, rgb(216, 231, 204) 40%, rgb(255, 239, 174) 100%);
    background: linear-gradient(to bottom, rgb(163, 221, 244) 0%, rgb(216, 231, 204) 40%, rgb(255, 239, 174) 100%);
  }

  // home background
  &.intro{

    .bg{
      position: absolute;
      background-image: url(/assets/images/intro/bg-cloud.png);
      background-size: 100%;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }


    .content-wrapper{
      position:relative;
      margin: 0 auto;
      overflow: visible;

      .contest{
        margin: 0 auto;
        position: relative;
        z-index: 1000;
      }

      .girl{
        position: absolute;
        width: $girl-width;
        height: $girl-height;
        top: 250px;
        left: -$girl-width;
      }

      .boy{
        position: absolute;
        width: $boy-width;
        height: $boy-height;
        top: 100px;
        right: -$boy-width;
      }

      .narak-btn{
        position: relative;
      }

      .left-rope{
        top: -600px;
        left: 58px;
        height: 625px;
        width: 25px;
      }

      .right-rope{
        top: -600px;
        left: 58px;
        height: 625px;
        width: 25px;
      }
    }
  }

  &.data-capture{

    .page-title-wrapper{

      position:relative;

      .info{
        position: relative;

        .left-rope{
          top: -600px;
          left: 58px;
          height: 645px;
          width: 25px;
        }

        .right-rope{
          top: -600px;
          right: 58px;
          height: 630px;
          width: 25px;
        }
      }
    }
    .content-wrapper{
      background-color: rgba(255,255,255, 0.8);
      border-radius: 20px 0 0 20px;
      margin: 25px 0;

      .content-body{
        margin: 25px 0 25px 30px;
        padding-right: 40px;
        border: 5px dashed rgba(255,255,255, 1);
        border-right: none;
        border-radius: 20px 0 0 20px;


        .title{
          font-size: 2.4em;
          margin: 20px 0;
        }

        md-radio-button.radio-boy .md-off{
          border-color: $primary-color;
        }
        md-radio-button.radio-boy .md-on {
          background-color: $primary-color;
        }
        md-radio-button.radio-girl .md-off{
          border-color: $secondary-color;
        }
      }
    }
  }

  &.select-template{
    .content-wrapper {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 0 20px 20px 0;
      margin: 25px 0;

      .content-body {
        margin: 25px 30px 25px 0;
        border: 5px dashed rgba(255, 255, 255, 1);
        border-left: none;
        border-radius: 0 20px 20px 0;
        padding: 5px 37px;

        .template-selector{

          md-radio-button{
            margin: 0;

            .md-container.md-ink-ripple{
              display: none;
            }
            .md-label{
              padding: 5px 10px 0 10px;
            }
          }

          md-radio-button.md-checked{
            .md-label{
              background-color: #FFF698;
              border-radius: 7px;
              box-sizing: border-box;
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
  }

  &.main{

    .content-wrapper{
      position: relative;
      overflow: hidden;

      .girl{
        position: absolute;
        width: $girl-lg-width;
        height: auto;
        top: 150px;
        left: 0;
      }

      .boy{
        position: absolute;
        width: $boy-lg-width;
        height: auto;
        top: 50px;
        right: 0;
      }

      .main-form{
        position: relative;
      }

      .preview-wrapper{
        margin-top: 30px;
      }
    }
  }

  &.share{

    .content-wrapper{
      position: relative;
      overflow: hidden;

      .girl{
        position: absolute;
        width: $girl-ex-lg-width;
        height: auto;
        top: 150px;
        left: 0;
      }

      .boy{
        position: absolute;
        width: $boy-ex-lg-width;
        height: auto;
        top: 50px;
        right: 0;
      }

      .share-image{
        width: 310px;
        height: 310px;
        margin-bottom: 20px;
      }
    }
  }
}

md-select-menu md-content{
  background-color: #FFF;
  color: #464646;
  font-size: 20px;
}

md-option .md-text
{
  font-size: 25px;
}

md-card md-card-title {
  padding: 24px 16px 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

input{
  font-family: 'db_helvethaicamon_x75_bd', 'Roboto Slab', serif;
  color: #C0C0C0;
  font-size: 1.2em;
}

md-input-container .md-input{
  height: 1.2em !important;
}

md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value, md-input-container:not(.md-input-invalid).md-input-has-value label{
  color: #0A9BCB;
}

.md-checked .md-label{
  color: #464646;
}

h2,h3{
  color: #E91E63;
}

md-input-container .md-input{
  color: #E91E63;
}

md-input-container [ng-message]{
  font-size: 17px;
  line-height: 19px;
}

[ng-message]{
  color: rgb(244,67,54);
}

.md-button.md-raised{
  background-color: #EC5D7E;
  color: rgba(255, 255, 255, 1);

  &:hover{
    color: #EC5D7E;
  }
}

#preview{
  background-color: #FFF;
}

.page.ng-leave {
  z-index: 9999;
}

.page.ng-enter {
  z-index: 8888;
}

.page.ng-leave {
  -webkit-animation: slideOutLeft .5s both ease-in;
  -moz-animation: slideOutLeft .5s both ease-in;
  animation: slideOutLeft .5s both ease-in;
}

.page.ng-enter {
  -webkit-animation: scaleUp 0.5s both ease-in;
  -moz-animation: scaleUp 0.5s both ease-in;
  animation: scaleUp 0.5s both ease-in;
}

.page-vote {
  //padding-top: 50px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

md-toolbar.md-default-theme {
  background-color: black;
}

section.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  text-align: center;

  color: white;

  h1 {
    font-size: 3em;
  }
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 100px;
    }
  }
}


md-card {
  background-color: transparent;
  box-shadow: none;
  md-card-content{
    padding: 5px;
  }
  md-card-actions{
    margin: 0;
    button.vote-count{
      color: #FFF;
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;
    }
    .vote-btn{
      margin-top: -10px !important;
    }
  }
}

.gold{
  color: gold !important;
  text-shadow: 0 0 1px #9C7000 !important;
}

.no-side-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#loading-bar .bar {
  background: firebrick;
}

#loading-bar .peg {
  position: absolute;
  width: 70px;
  right: 0;
  top: 0;
  height: 2px;
  opacity: .60;
  -moz-box-shadow: firebrick 1px 0 8px 1px;
  -ms-box-shadow: firebrick 1px 0 8px 1px;
  -webkit-box-shadow: firebrick 1px 0 8px 1px;
  box-shadow: firebrick 1px 0 8px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}

.loading-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 10000000;
}

.ng-submitted [ng-messages].ng-active {
  display: block;
}

.upload-img-wrapper {
  display: inline-block;
}


/* Vote */
.popular-vote{
  //background-color: lightblue;
}
.popular-vote header{
  font-size: 2em;
  color: #E91E63;
  font-weight: 600;
}


.vote-item{
  height: 300px;
}

.post-item{
  height: 250px;
}

.category-selector{
  margin-right: 20px;
  [md-ink-ripple-checkbox]{
    display: none;
  }
  md-radio-button.md-checked .md-label{
    border-width: 2px 0;
    border-color: #E91E63;
    border-style: solid;
  }
}

.underline{
  text-decoration: underline;
}

.less-margin-bottom{
  margin-bottom:5px;
}

.post-wrapper{
  margin-top: 30px;
  padding-bottom: 70px;
}

.vote-media img{
  width: 100%;
  height: auto;
}

.footer-bar{
  height: 40px;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  font-size: 0.7em;
}

.footer-bar .footer-button{
  margin: 0;
  padding: 0;
}

// Table //
table.md-table th.md-column{
  font-size: 24px;
}

table.md-table td.md-cell{
  font-size: 20px;
}

table.md-table thead.md-head>tr.md-row{
  background-color: #FFF;
}

table.md-table tbody.md-body>tr.md-row, table.md-table tfoot.md-foot>tr.md-row{
  background-color: #FFF;
}

table.md-table.md-row-select td.md-cell:nth-child(n+3):nth-last-child(n+2), table.md-table.md-row-select th.md-column:nth-child(n+3):nth-last-child(n+2){
  padding: 0 25px 0 0;
}

.md-table-pagination{
  font-size: 20px;
}

md-toolbar .md-toolbar-tools{
  font-size: 30px;
}

.category-selector md-radio-button.category-item{
  min-height: 50px;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  html {
    font-size: $main-font-size-sm;
  }

  md-content {
    .main-logo{
      width: 230px;
    }

    md-content {
      .banner {
        width: 200px;
      }
    }

    &.select-template{

      .content-wrapper {
        .content-body{
          margin: 15px;
          padding: 0;


          md-radio-button{
            margin: 0;
          }
          md-radio-button .md-label{
            margin: 0;
          }
        }
      }
    }

  }
}

@media screen and (max-width: 599px){

  html {
    font-size: $main-font-size-xs;
  }


  .narak-btn{
    width: $btn-width/1.4;
    height: $btn-height/1.4;
    background-image: url(/assets/images/common/cloud-btn.png);
    background-size: 100% 100%;
    background-color: transparent;
    border: none;
    font-family: 'db_helvethaicamon_x75_bd';
    font-size: 24px;
    color: $primary-color;
    margin-right: 15px;
  }

  md-dialog {
    width:100%;
    max-width: 100%;
  }

  .footer-bar{
    height: auto;
    font-size: 0.6em;
  }

  .main-logo{
    width: 190px;
  }
  .popular-vote header{
    font-size: 1.5em;
  }

  md-content {

    .banner{
      width: 230px;
    }

    &.intro{

      padding-top: 10%;

      .content-wrapper{

        .contest{
          margin-top: -30px;
          width: 270px;
        }

        .left-rope{
          top: -400px;
          left: 45px;
          height: 415px;
          width: 15px;
        }

        .right-rope{
          top: -400px;
          left: 45px;
          height: 415px;
          width: 15px;
        }
      }

      .main-logo{
        width: 300px;
      }
    }

    &.data-capture{

      .page-title-wrapper{

        .info{

          .left-rope{
            top: -200px;
            left: 33px;
            height: 230px;
            width: 15px;
          }

          .right-rope{
            top: -200px;
            right: 33px;
            height: 220px;
            width: 15px;
          }
        }
      }
      .content-wrapper {
        margin: 20px 0;
        margin-left: 20px;

        .content-body {
          margin: 15px 0 15px 15px;
          padding-left: 10px;
          padding-right: 20px;
          .title {
            font-size: 1.5em;
            margin: 10px 0;
          }
        }
      }
    }

    &.select-template{

      .content-wrapper {
        background: none;
        .content-body{
          margin: 0;
          padding: 0;
          border: none;
          md-radio-button{
            margin: 0;
          }
          md-radio-button .md-label{
            margin: 0;
          }
        }
      }
    }

    &.main{

      .content-wrapper{
        .girl{
          top: 350px;
          left: -134px;
        }
        .boy{
          right: -90px;
        }
      }

    }

    &.share{

      .content-wrapper{
        .girl{
          top: 350px;
          left: -134px;
        }
        .boy{
          right: -90px;
        }
      }

    }
  }
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  20% {
    -webkit-transform: rotateZ(10deg);
    -webkit-animation-timing-function: ease-out;
  }
  40% {
    -webkit-transform: rotateZ(17deg);
  }
  60% {
    -webkit-transform: rotateZ(16deg);
  }
  100% {
    -webkit-transform: translateY(100%) rotateZ(17deg);
  }
}

@-moz-keyframes rotateFall {
  0% {
    -moz-transform: rotateZ(0deg);
  }
  20% {
    -moz-transform: rotateZ(10deg);
    -moz-animation-timing-function: ease-out;
  }
  40% {
    -moz-transform: rotateZ(17deg);
  }
  60% {
    -moz-transform: rotateZ(16deg);
  }
  100% {
    -moz-transform: translateY(100%) rotateZ(17deg);
  }
}

@keyframes rotateFall {
  0% {
    transform: rotateZ(0deg);
  }
  20% {
    transform: rotateZ(10deg);
    animation-timing-function: ease-out;
  }
  40% {
    transform: rotateZ(17deg);
  }
  60% {
    transform: rotateZ(16deg);
  }
  100% {
    transform: translateY(100%) rotateZ(17deg);
  }
}

/* scale up */
@keyframes scaleUp {
  from {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

@-moz-keyframes scaleUp {
  from {
    opacity: 0.3;
    -moz-transform: scale(0.8);
  }
}

@-webkit-keyframes scaleUp {
  from {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
  }
}

/* slide in from the right */
@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
  }
}

/* slide in from the bottom */
@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@-moz-keyframes slideInUp {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(0);
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}

@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
  }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
  to {
    -webkit-transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}

@-moz-keyframes rotateOutNewspaper {
  to {
    -moz-transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}

@keyframes rotateOutNewspaper {
  to {
    transform: translateZ(-3000px) rotateZ(360deg);
    opacity: 0;
  }
}

/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
