<div layout="vertical" layout-fill>
    <md-content class="data-capture blue-yellow" flex>
        <section layout="row" layout-align="center" layout-wrap class="main-content">
            <div class="page-title-wrapper" layout="row" flex="40" flex-xs="70" layout-align="center">
                <div layout="column" layout-align="center center">
                    <a class="main-logo z-index-110">
                        <img src="assets/images/narakjung.png">
                    </a>
                    <div class="info banner">
                        <div class="rope left-rope z-index-80"></div>
                        <img class="z-index-100" src="assets/images/data-capture/input-info.png">
                        <div class="rope right-rope z-index-80"></div>
                    </div>
                    <div hide-sm hide-xs>
                        <img src="assets/images/data-capture/dragonfly2kids.png"/>
                    </div>
                </div>
            </div>
            <div class="content-wrapper" layout="row" flex="60" flex-xs="100">
                <div class="content-body" flex="100">
                    <form name="form" novalidate flex>
                        <div flex layout="row" layout-align="center">
                            <h2 class="title">ข้อมูลหนูน้อยน่ารัก X2</h2>
                        </div>
                        <div flex layout="row">
                            <label flex="20" layout="column" layout-align="center start">เพศ</label>
                            <md-radio-group ng-model="vm.baby.gender" name="babyGender">
                                <md-radio-button value="ด.ช." class="radio-boy">ชาย</md-radio-button>
                                <md-radio-button value="ด.ญ." class="radio-girl">หญิง</md-radio-button>
                                <div ng-messages="form.babyGender.$error" role="alert" ng-if="form.$submitted">
                                    <div ng-message="required">This field is required.</div>
                                </div>
                            </md-radio-group>
                        </div>
                        <div flex layout="row">
                            <label flex="20" layout="column" layout-align="center start">ชื่อ</label>
                            <md-input-container flex>
                                <input type="text" id="babyName" name="babyName" ng-model="vm.baby.name"
                                       aria-label="ชื่อ" required>
                                <div ng-messages="form.babyName.$error" role="alert" ng-if="form.$submitted">
                                    <div ng-message="required">กรุณากรอกข้อมูล</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex layout="row">
                            <label flex="20" layout="column" layout-align="center start">ชื่อเล่น</label>
                            <md-input-container flex>
                                <input type="text" id="babyNickName" name="babyNickName" ng-model="vm.baby.nickname"
                                       aria-label="ชื่อเล่น" required>
                                <div ng-messages="form.babyNickName.$error" role="alert" ng-if="form.$submitted">
                                    <div ng-message="required">กรุณากรอกข้อมูล</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex layout="row">
                            <label flex="20" layout="column" layout-align="center start">อายุ</label>
                            <md-input-container flex>
                                <label for="babyYears">ปี</label>
                                <md-select id="babyYears" name="babyYears" class="highlight-color focus" ng-model="vm.baby.years" aria-label="ปี" required>
                                    <md-option>0</md-option>
                                    <md-option>1</md-option>
                                    <md-option>2</md-option>
                                    <md-option>3</md-option>
                                    <md-option>4</md-option>
                                    <md-option>5</md-option>
                                    <md-option>6</md-option>
                                    <md-option>7</md-option>
                                </md-select>
                                <div ng-messages="form.babyYears.$error" role="alert" ng-if="form.$submitted">
                                    <div ng-message="required">กรุณากรอกข้อมูล</div>
                                    <div ng-message="min">ข้อมูลไม่ถูกต้อง</div>
                                    <div ng-message="max">อายุห้ามเกิน 7 ปี</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex>
                                <label for="babyMonths">เดือน</label>
                                <md-select id="babyMonths" name="babyMonths" class="highlight-color focus" ng-model="vm.baby.months" aria-label="เดือน" ng-disabled="vm.baby.years == 7" required>
                                    <md-option ng-selected="vm.baby.years == 7">0</md-option>
                                    <md-option>1</md-option>
                                    <md-option>2</md-option>
                                    <md-option>3</md-option>
                                    <md-option>4</md-option>
                                    <md-option>5</md-option>
                                    <md-option>6</md-option>
                                    <md-option>7</md-option>
                                    <md-option>8</md-option>
                                    <md-option>9</md-option>
                                    <md-option>10</md-option>
                                    <md-option>11</md-option>
                                </md-select>
                                <div ng-messages="form.babyMonths.$error" role="alert" ng-if="form.$submitted">
                                    <div ng-message="required">กรุณากรอกข้อมูล</div>
                                    <div ng-message="min">ข้อมูลไม่ถูกต้อง</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex layout="row">
                            <br/>
                        </div>
                        <div flex layout="row">
                            <label flex="30" layout="column" layout-align="center start">เบอร์โทรศัพท์</label>
                            <md-input-container flex>
                                <input type="text" id="telnumber" name="telnumber" ng-model="vm.baby.telnumber"
                                       aria-label="เบอร์โทรศัพท์" style="text-align: center;" ng-pattern="/^\(?(\d{2,3})\)?-?(\d{3})-?(\d{3,4})$/"
                                       min="0"
                                       max="11" required>
                                <div ng-messages="form.telnumber.$error" role="alert" ng-if="form.$submitted">
                                    <div ng-message="required">กรุณากรอกข้อมูล</div>
                                    <div ng-message="pattern">กรุณากรอกข้อมูลให้ถูกต้อง</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div flex layout="row" layout-align="end" layout-wrap hide-xs>
                            <md-button class="md-raised animated infinite" ng-class="vm.classAnimation"
                                       ng-click="vm.next()" flex="20" flex-xs="80">
                                ถัดไป
                            </md-button>
                        </div>
                    </form>
                </div>
            </div>
            <div flex layout="row" layout-align="center center" layout-wrap hide-gt-xs>
                <md-button class="md-raised animated infinite" ng-class="vm.classAnimation"
                           ng-click="vm.next()" flex="20" flex-xs="40">
                    ถัดไป
                </md-button>
            </div>
        </section>
    </md-content>
</div>