<div layout="vertical" layout-fill>
    <md-content flex>
        <div ng-cloak layout="row" layout-align="center">
            <a class="main-logo"><img src="assets/images/narakjung.png"></a></div>
        <section flex layout="row" layout-align="center">
            <md-card flex-sm="100" flex-xs="100" flex="30" style="background-color: white;">
                <md-card-title>
                    <md-card-title-text>
                        <h2 class="md-headline">Admin System</h2>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div class="md-media-l card-media">
                        <md-input-container>
                            <label>Username</label>
                            <input ng-model="vm.user.username">
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input ng-model="vm.user.password" type="password">
                        </md-input-container>
                    </div>

                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button aria-label="Login" ng-click="vm.login();">
                        Login
                    </md-button>
                </md-card-actions>
            </md-card>
        </section>
    </md-content>
</div>